body {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

#container {
    padding: 25px 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: min-content min-content;
    justify-content: center;
    align-items: top;
}

.players {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 1);
    table-layout: fixed;
    grid-row: 1;
    grid-column: 1;
    align: center;
}

table.forces {
    z-index: 1;
}

table.forces td {
    border: 1px solid rgba(64, 64, 64, 0);
}

table.layout, table.colors, table.forces {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 1);
    table-layout: fixed;
    grid-row: 1;
    grid-column: 2;
    align: center;
}

th, td.name, td.territory, td.bases, td.mines, td.lands, td.forces, td.active, td.reinforcements,
td.type, td.source, td.target {
    max-width: 200px;
    font-size: 0.75vw;
    white-space: nowrap;
    padding: 0 5px 0 5px;
    border: 1px solid rgba(64, 64, 64, 1);
    text-align: center;
}

td {
    height: 25px;
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    max-height: 25px;
    min-height: 25px;
    overflow: hidden;
    text-align: center;
    line-height: 23px;
    font-size: 0.5vw;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(64, 64, 64, 1);
}

.wall {
    background: rgba(64, 64, 64, 1);
}

.land {
    background: rgba(255, 255, 255, 0);
}

.mine {
    background: url("mine.png");
    background-size: cover;
}

.base {
    background: url("base.png");
    background-size: cover;
}

.red {
    background: rgba(255, 0, 0, 0.5);
}

.green {
    background: rgba(0, 192, 0, 0.5);
}

.blue {
    background: rgba(0, 128, 255, 0.5);
}

.purple {
    background: rgba(192, 0, 192, 0.5);
}
